/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #RTsbs-1594,
  #RTsbsr-1594,
  #RTsbst-1594 {
    padding: var(--sectionPadding);
  }
  #RTsbs-1594 .cs-container,
  #RTsbsr-1594 .cs-container,
  #RTsbst-1594 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #RTsbs-1594 .cs-content,
  #RTsbsr-1594 .cs-content,
  #RTsbst-1594 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 36.625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #RTsbs-1594 .cs-text,
  #RTsbsr-1594 .cs-text,
  #RTsbst-1594 .cs-text {
    margin-bottom: 1rem;
  }
  #RTsbs-1594 .cs-text:last-of-type,
  #RTsbsr-1594 .cs-text:last-of-type,
  #RTsbst-1594 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #RTsbs-1594 .cs-button-solid,
  #RTsbsr-1594 .cs-button-solid,
  #RTsbst-1594 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 3rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #RTsbs-1594 .cs-button-solid:before,
  #RTsbsr-1594 .cs-button-solid:before,
  #RTsbst-1594 .cs-button-solid:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #RTsbs-1594 .cs-button-solid:hover:before,
  #RTsbsr-1594 .cs-button-solid:hover:before,
  #RTsbst-1594 .cs-button-solid:hover:before {
    width: 100%;
  }
  #RTsbs-1594 .cs-image-group,
  #RTsbsr-1594 .cs-image-group,
  #RTsbst-1594 .cs-image-group {
    /* scales the whole group based on the view width size and stop when that vales equals .745em, resets at desktop */
    font-size: min(1.959vw, 0.745em);
    width: 39.375em;
    /* we set a minimum height so it never gets smaller than this value */
    min-height: 39.25em;
    display: block;
    position: relative;
    z-index: 1;
  }
  #RTsbs-1594 .cs-picture,
  #RTsbsr-1594 .cs-picture,
  #RTsbst-1594 .cs-picture {
    position: absolute;
  }
  #RTsbs-1594 .cs-picture img,
  #RTsbsr-1594 .cs-picture img,
  #RTsbst-1594 .cs-picture img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #RTsbs-1594 .cs-picture1,
  #RTsbsr-1594 .cs-picture1,
  #RTsbst-1594 .cs-picture1 {
    /* the percentage heights allow them to be responsive to the height of the parent cs-image-group. On desktop, when the felxbox is set to aling-items: stretch, the cs-image group will stretch to fill the height of the parent container. So when you add more content to the cs-content group and make it taller, the cs-image group will get taller with it and every image will stretch with the parent, making this entire group responsive to the changing amounts of content next to it */
    width: 25.8125em;
    height: 79.617834%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #RTsbs-1594 .cs-picture2,
  #RTsbsr-1594 .cs-picture2,
  #RTsbst-1594 .cs-picture2 {
    width: 25.8125em;
    height: 44.585987%;
    bottom: 0;
    right: 0;
    z-index: 10;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #RTsbs-1594 .cs-container,
  #RTsbsr-1594 .cs-container,
  #RTsbst-1594 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #RTsbs-1594 .cs-content,
  #RTsbsr-1594 .cs-content,
  #RTsbst-1594 .cs-content {
    /* this padding sets a minimum gap between the top and bottom of the content div and the top and bottom of the cs-image-group */
    padding: 3.75rem 0;
    /* while the cs-image-group will stretch to fill the height of the parent, this property will ensure that the cs-content group aligns itse;f in the center of the parent div instead of stretching */
    align-self: center;
  }
  #RTsbs-1594 .cs-image-group,
  #RTsbsr-1594 .cs-image-group,
  #RTsbst-1594 .cs-image-group {
    font-size: min(1.2vw, 1em);
    flex: none;
  }
}

/*-- -------------------------- -->
  <---   Side By Side Reverse     -->
  <--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #RTsbsr-1594 {
    background-color: #f7f7f7;
  }
  #RTsbsr-1594 .cs-picture1 {
    left: auto;
    right: 0;
  }
  #RTsbsr-1594 .cs-picture2 {
    right: auto;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #RTsbsr-1594 .cs-image-group {
    /* sends it to the right in the 2nd position */
    order: 2;
  }
}
