* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  overflow: hidden;
  background: #e3f2fd;
}

label {
  position: absolute;
  right: 30px;
  bottom: 20px;
  height: 55px;
  width: 55px;
  background: #4070f4;
  text-align: center;
  line-height: 55px;
  border-radius: 50px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
label i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
}

label i.faTimes {
  opacity: 0;
  pointer-events: none;
}

#click:checked ~ label i.faTimes {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) rotate(180deg);
}

#click:checked ~ label i.faComments {
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) rotate(180deg);
}

.wrapper {
  position: absolute;
  right: 30px;
  bottom: 150px;
  max-width: 400px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1);
}

#click:checked ~ .wrapper {
  opacity: 1;
  bottom: 85px;
  pointer-events: auto;
}

.wrapper .head-text {
  line-height: 60px;
  color: #fff;
  border-radius: 8px 8px 0 0;
  padding: 0 20px;
  font-weight: 500;
  font-size: 20px;
  background: #4070f4;
}

.wrapper .chat-box {
  padding: 20px;
  width: 100%;
}

.chat-box .desc-text {
  color: #515365;
  text-align: center;
  line-height: 25px;
  font-size: 17px;
  font-weight: 500;
}

.chat-box form {
  padding: 10px 15px;
  margin: 20px 0;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.chat-box form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
}

.chat-box form:last-child {
  margin-bottom: 15;
}

form .field input,
form .field button {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  border: 1px solid lightgray;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s ease;
}

form .field input:focus {
  border-color: #4070f4;
}

form .field input::placeholder {
  color: silver;
  transition: all 0.3s ease;
}

form .field input:focus::placeholder {
  color: lightgray;
}

.chat-box form .field button {
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 500;
  background: #4070f4;
  transition: all 0.3s ease;
}

.chat-box form .field button:active {
  transform: scale(0.97);
}
