.welcome-container {
  position: relative; /* Use relative for parent container */
  width: 100%; /* Full width to contain fixed children properly */
  min-height: 100vh; /* Full viewport height */
}

.content-container {
  display: flex;
  justify-content: space-between; /* Align children to start and end of container */
  padding-top: 80px; /* Padding to avoid overlap with the fixed logo */
}

.login-container {
  position: fixed; /* Fixing login container on the right */
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  flex: 1;
  padding: 20px;
  z-index: 1000;
}
/* .services-section {
  flex: 3;
  padding: 20px;
  padding-top: 80px;
} */

/* .services-image {
  width: 100%;
  max-width: 600px;
} */

/* .logo-image {
  width: 50%;
  height: auto;
  margin: 0 auto 20px;
} */

/* input[type="text"],
input[type="password"] {
  margin-bottom: 10px;
} */

/* button {
  width: 200px;
  margin-top: 10px;
  background-color: #2a76a5;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

/* button:hover {
  background-color: #2a76d9;
  cursor: pointer;
} */

/* .login-button, .signup-button {
  background-color: #2a76a578;
} */

/* p {
  font-size: 20px;
} */
