.navbar {
  background-color: #89b4d0; /* Dark blue background */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Adjusted padding for overall alignment */
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start; /* Align nav items to the left */
  align-items: center;
}

.nav-item {
  margin: 0 20px;
}

.nav-item a,
.logout-button button {
  color: white;
  background: transparent;
  border: none;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0.5px;
  transition:
    color 0.3s,
    background-color 0.3s;
}

.account-info {
  color: white;
}
.navbar-logo {
  height: 50px; /* Adjust the height as needed */
  width: auto; /* Maintains the aspect ratio of the image */
}
.navbar-bankname {
  height: 50px; /* Adjust the height as needed */
  width: auto; /* Maintains the aspect ratio of the image */
}

.nav-item a:hover {
  font-weight: bolder;
}
.logout-button button:hover {
  width: 200px;
  margin-top: 10px;
  background-color: #2a76a5;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
