html,
body {
  height: 100%; /* Make sure the html and body are at least the height of the viewport */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container is at least the height of the viewport */
}

/* Ensures the content section pushes the footer down */
Accounts {
  flex: 0 auto;
}

.footer {
  flex-shrink: 0; /* Ensure the footer does not shrink */
  width: 100%;
  /* Styling for your footer */
}
