/* Savings Tracker Styles */
.goal-tracker {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.title {
  color: #333;
  font-family: 'Arial', sans-serif;
}

.progress-bar-background {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: #ddd;
  border-radius: 15px;
  overflow: visible; /* Change from 'hidden' to 'visible' to allow image to overlap */
}

.progress-bar-fill {
  height: 100%;
  background: linear-gradient(
    to right,
    rgb(163, 194, 232),
    rgb(101, 154, 211),
    rgb(87, 148, 223),
    rgb(69, 124, 220),
    rgb(46, 98, 209),
    rgb(26, 84, 230)
  );
  border-radius: 15px;
  transition: width 0.3s ease-in-out;
}

.pot-of-gold {
  position: absolute;
  right: calc(-30px); /* Adjust this value to better align with the right end of the progress bar */
  bottom: 0; /* Adjust based on the specific overlap needed */
  width: 60px;
  height: 60px;
  transition: right 0.3s ease-in-out; /* Ensures the image moves smoothly with the progress bar */
}

.saved-amount {
  margin: 15px 0;
  font-size: 16px;
  color: #666;
}

.add-savings {
  width: 200px;
  margin-top: 10px;
  background-color: #2a76a578;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  width: 200px;
  margin-top: 10px;
  background-color: #2a76a5;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  background-color: #2a76d9;
  cursor: pointer;
}
