@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

.savings-container {
  display: flex;
  justify-content: center; /* Centers the container horizontally */
  align-items: stretch; /* Ensures children fill the container vertically */
  padding-top: 200px;
}

.savings-content {
  display: flex; /* Activates flexbox layout */
  justify-content: space-between; /* Distributes space between the children */
  align-items: stretch; /* Ensures all items stretch to fill the container vertically */
  width: 80%; /* Sets the width of the flex container */
  max-width: 1200px; /* Maximum width of the container */
}

.savings-form,
.goal-tracker {
  flex: 1; /* Ensures equal width for both elements */
  /* margin: 10px; Uniform margin around both boxes */
  padding: 20px; /* Uniform padding for both boxes */
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.title {
  color: #333;
  font-family: 'Cinzel';
  font-size: 50px;
  text-decoration: underline;
}

.saving-form {
  margin-right: 20px;
}

.goal-tracker {
  margin-left: 40px;
}

.savings-form number::placeholder {
  font-size: 50px;
  color: #aaa;
}

.savings-form input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 25px;
  color: #aaa;
}

.pot-of-gold {
  position: absolute;
  top: -30px;
  left: 50%;
  width: 60px;
  transform: translateX(calc(-50% + (var(--progress-offset, 0%) - 100%))); /* Adjusts based on progress */
  width: 60px;
  height: 60px;
  transition: left 0.3s ease-in-out;
}
