.transaction-container {
  display: flex;
  justify-content: space-between; /* Spaces the two columns */
  align-items: start; /* Aligns items to the top */
  padding: 30px;
  padding-left: 21rem;
}

.button-container {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  gap: 10px; /* Space between buttons */
  width: 200px; /* Fixed width for button container */
}

.transaction-table-container {
  flex-grow: 0; /* Allows the table container to take up the remaining space */
  padding-left: 20px; /* Space between buttons and table */
}

.button-container {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  gap: 10px; /* Space between buttons */
  width: 200px; /* Fixed width for button container */
}

button {
  background-color: #0d6484 !important;
  font-size: 20px;
  padding: 12px 20px;
  background-color: var(--primary); /* Primary color, replace var(--primary) with your actual color code */
  color: white; /* Text color for the buttons */
  border: none; /* No border for a cleaner look */
  border-radius: 8px; /* Rounded corners for a modern appearance */
  cursor: pointer; /* Changes the cursor to a pointer when hovering over the button */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  transition:
    background-color 0.3s,
    transform 0.3s; /* Smooth transitions for interactive effects */
  width: 100%; /* Ensures all buttons expand to fill the container's width */
  text-align: center; /* Center text within the button */
}

button:hover {
  font-weight: bold; /* Makes the button text bolder on hover */
  background-color: #000 !important; /* Lighter shade on hover, replace with your color */
  transform: scale(1.05); /* Slightly enlarges button on hover for emphasis */
}

.transaction-table-container {
  flex-grow: 1; /* Allows the table container to take up the remaining space */
  padding-left: 20px; /* Space between buttons and table */
}

table.GeneratedTable {
  width: 60%; /* Fixed width */
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-style: solid;
  color: #585454;
  margin: 0; /* Center the table horizontally if there's extra space */
}

table.GeneratedTable td,
table.GeneratedTable th {
  border-width: 2px;
  border-color: #cfd0d1;
  border-style: solid;
  padding: 5px;
}

table.GeneratedTable thead {
  background-color: #65a8d740;
}
