table.GeneratedTable {
  width: 80%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-style: solid;
  color: #585454;
  width: 80%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-style: solid;
  color: #585454;
  margin: 30px 120px; /* Reduced top margin from 200px to 100px */
}

table.GeneratedTable td,
table.GeneratedTable th {
  border-width: 2px;
  border-color: #cfd0d1;
  border-style: solid;
  padding: 3px;
}

table.GeneratedTable thead {
  background-color: #65a8d740;
}

.date-column {
  width: 70px;
}

.amount-column {
  width: 70px;
}

.description-column {
  width: 300px;
}

.button-container {
  display: flex;
  justify-content: center; /* Centers buttons horizontally */
  gap: 1px; /* Reduces space between buttons for a tighter grouping */
  margin-top: 30px; /* Keeps the buttons lower on the page */
}

button {
  font-size: 16px; /* Sets a readable font size */
  padding: 12px 20px; /* Adequate padding for button text */
  background-color: var(--primary); /* Primary color, replace var(--primary) with your actual color code */
  color: white; /* Text color for the buttons */
  border: none; /* No border for a cleaner look */
  border-radius: 8px; /* Rounded corners for a modern appearance */
  cursor: pointer; /* Changes the cursor to a pointer when hovering over the button */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  transition:
    background-color 0.3s,
    transform 0.3s; /* Smooth transitions for interactive effects */
  width: auto; /* Width automatically adjusts to content */
  max-width: 300px; /* Maximum width to ensure buttons do not grow too large */
}

button:hover {
  background-color: var(--primaryLight); /* Lighter shade on hover, replace with your color */
  transform: scale(1.05); /* Slightly enlarges button on hover for emphasis */
}
