/* welcomenavbar.css */
.navbar {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 90px; /* Specify a height for the navbar */
  background-color: #0d6484; /* Background color, adjust as needed */
  width: 100%; /* Ensure the navbar spans the full width */
  position: relative; /* Changed from 'fixed' to 'relative' */
  top: 0; /* Align top edge at its normal position */
  left: 0; /* Align left edge at its normal position */
  z-index: 1000; /* Ensures the navbar is above other content */
}

.navbar-content {
  display: flex; /* Use Flexbox within this container as well */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%; /* Take up the full width of its parent */
}

.navbar-logo {
  height: 90px !important;
}
